name: Deploy Backend to IONOS SFTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Subir archivos backend por SFTP a IONOS
        uses: appleboy/sftp-action@master
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          source: "backend/*"
          target: "/public/furbito"
          timeout: 120s
          strip_components: 1
          debug: true