name: Deploy Backend to IONOS SFTP

on:
  push:
    branches:
      - main  # Cambia esto si tu rama principal tiene otro nombre

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v4

      - name: Upload backend files via SFTP to IONOS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SFTP_HOST }}
          username: ${{ secrets.SFTP_USERNAME }}
          password: ${{ secrets.SFTP_PASSWORD }}
          port: 22
          source: "backend/*"
          target: "/public/furbito"
          timeout: 120s
          strip_components: 1 # Esto elimina 'backend/' al subir los archivos
          debug: true